googlenews
output
RSSLog.txt
files
Deployment
*.vs10x
TestResults
ClientBin
Generated_Code
Bin
*.suo
*.user
.vs
bin
obj
*.cache
ServiceDefinition.build.csdef
*.docstates
lib
csx
packages/
BundleArtifacts
LedgerscopeSolution/TestConsole/Playground.cs
LedgerscopeSolution/TestConsoleCore/Playground.cs
[Dd]ebug/
[Tt]humbs.db
*.sln.ide
GeneratedAssemblyInfo.cs
*.DotSettings.build/_NCrunch_LedgerscopeSolution/
/LedgerscopeSolution/_NCrunch_LedgerscopeSolution/StoredText
*.DotSettings
*GeneratedMSBuildEditorConfig*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp*

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup/*
UpgradeLog*.XML
UpgradeLog*.htm
MigrationBackup/*

*.metaproj
*.metaproj.tmp
/LedgerscopeSolution/Ledgerscope.Web/Developer.config

AppPackages
LedgerscopeSolution/**/DevAuth.cs
buildviews

# Merge results
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*